h1 {
    font-family: sans-serif;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    color: lightgreen;
  }
  
  p {
    font-family: sans-serif;
    width: 400px;
    margin: 35px auto;
    text-align: center;
    color: lightgreen;
  }
  
  p {
    width: 500px;
  }
  
  table {
    width: 600px; /* Reducción del tamaño de la tabla */
    margin: 0 auto;
    color: white;
    text-align: center;
    border-collapse: collapse; /* Quita las rayas a cada recuadro */
    border-radius: 10px;
    overflow: hidden;
    background-color: #0A3440; /* Tonalidad oscura */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px; /* Margen abajo de la tabla */
  }
  
  th, td {
    padding: 20px;
    position: relative; /* Añadido para posicionar la raya */
  }
  
  
  tr:nth-child(odd) {
    background-color: #576e7c; /* Cambio de color a gris oscuro */
  }
  
  tr:nth-child(even) {
    background-color: #33414c; /* Cambio de color a gris oscuro */
  }
  
  tr:hover {
    color: black;
    background-color: #708090; /* Cambio de color a gris oscuro */
  }
  
  /* Resto del estilo */
  
  body {
    background-color: #0F3E76;
  }